{% extends "base.html" %}

{% block main %}
    <div class="content">
        <div id=sec1>
            <img id="profile" src="{{url_for('static', filename='profile.png')}}" />
            <h1>Mary Jane</h1>
            <p>@mj</p>
            <p>Kingston, Jamaica</p>
            <p>Joined {{ joined }}</p>
        </div>
        
        <div id=sec2>
            <p id="bio">I am smart and talented young woman who loves website design and 
            development. Contact me if you'd like to work together on a new project.</p>
            
            <ul id="stats">
                <li><strong id="num">7</strong> Posts</li>
                <li><strong id="num">100</strong> Following</li>
                <li><strong id="num">250</strong> Followers</li>
            </ul>
            <button id="follow">Follow</button>
        </div>
    </div>
{% endblock %}